name: CI-Train the model and  save the model

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    matrix-pip:
        name: train and save the model
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.11, 3.12]

        steps:
            - name: checkout
              uses: actions/checkout@v4

            - name: setup python
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}

            - name: upgrade pip
              run: python -m pip install --upgrade pip setuptools wheel

            - name: install dependencies
              run: pip install -r requirements.txt

            - name: train and save the model
              run: |
                  python train.py
                  ls -la artifacts

            - name: upload model
              uses: actions/upload-artifact@v4
              with:
                  name: ml-artifacts-${{ matrix.python-version }}-${{ github.run_id }}
                  path: artifacts
